.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  border-bottom: 1px solid #ccc;
  font-size: 28px;
  font-weight: bold;
}
.list-trip-create-btn {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.list-trip-create-btn a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0px 24px;
  font-size: 18px;
  margin-right: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

img {
  width: 100%;
  padding: 0 4px;
}
